.main {
  background-color: #ffffff;
  border-radius: 5px;
}

.headerText {
  font-size: 0.9rem;
}

.rightBorder {
  border-right: none;
}

.divText {
  border-radius: 20px;
  background-color: #eeeeee;
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1px;
}

.textInput {
  border: none;
  background-color: transparent;
  margin-left: 0.5rem;
  width: 90%;
}

.searchIcon {
  position: relative;
  left: 5px;
  color: #0d19c2;
}

.indicatordown {
  position: absolute;
  bottom: 0px;
  right: 1px;
  background-color: #20a73b;
  border-radius: 50%;
  font-size: 0.5rem;
  width: 6px;
  height: 6px;
}

.indicatorTop {
  position: absolute;
  top: 0px;
  right: -1px;
  background-color: #20a73b;
  border-radius: 50%;
  font-size: 0.5rem;
  width: 6px;
  height: 6px;
}

.chatClose {
  width: 5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  font-size: 0.8rem;
  text-align: center;
  top: 5px;
  cursor: pointer;
  right: 3rem;
  box-shadow: 2px 2px 4px #000000;
  color: #8b8a8a;
  z-index: 1;
}

.chatClose::after {
  content: "";
  display: block;
  position: absolute;
  right: 5px;
  top: -10px;
  border-right: 10px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 10px solid #ffffff;
}

.clickable {
  cursor: pointer;
}

/* INSIDE LEFT */
.insideLeftMain {
  padding-top: 1rem;
  padding-bottom: 0;
}

.notificationBorder {
  border-bottom: 1px #eeeeee solid;
}

.nameText {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.messageText {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

.statusSuccess {
  background-color: #ccf3ce;
  color: #0c991f;
  border-radius: 20px;
  padding: 0.2rem;
  font-size: 0.6rem;
}

.statusWarning {
  background-color: #ebdf97;
  color: #948b0a;
  border-radius: 20px;
  padding: 0.2rem;
  font-size: 0.6rem;
}

.statusDanger {
  background-color: #ecb1b1;
  color: #7a0808;
  border-radius: 20px;
  padding: 0.2rem;
  font-size: 0.6rem;
}

.socialFacebook {
  background-color: #d9daf7;
  color: #0d19c2;
  border-radius: 20px;
  padding: 0.2rem;
  font-size: 0.6rem;
}

.socialEmail {
  background-color: #cccceb;
  color: #8b8a8a;
  border-radius: 20px;
  padding: 0.2rem;
  font-size: 0.6rem;
}

.innerActive {
  background-color: #0d146e;
}

.innerActive:hover {
  background-color: #0d146e;
}

.outerActive {
  background-color: #ffffff;
  width: 99%;
  margin-left: 0.3rem;
}

/* .outerActive:hover {
  background-color: #ffffff;
  width: 99%;
  margin-left: 0.3rem;
} */

/* INSIDE Right */
.insideRightMain {
  padding-top: 1rem;
  padding-bottom: 0;
}

.avatarName {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0d146e;
  color: #ffffff;
  padding: 0.4rem;
  font-size: 0.5rem;
}

.avatarNameRed {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b63232;
  color: #ffffff;
  padding: 0.4rem;
  font-size: 0.5rem;
}

.avatarNameGreen {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0c991f;
  color: #ffffff;
  padding: 0.4rem;
  font-size: 0.5rem;
}

.replayName {
  color: #0d146e;
}

.messageBottomMargin {
  margin-bottom: 5rem;
}

/* INPUT MESSAGE */
.inputBox {
  height: 17rem;
  width: 95%;
  border: 1px #eeeeee solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.textArea {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 5rem;
}
.smallBtn {
  height: 1.6rem;
  padding: auto;
  float: right;
}

.suggestions {
  position: absolute;
  width: 15rem;
  height: 8rem;
  bottom: -46.5rem;
  left: 3.5rem;
  border-radius: 0.5rem;
  text-align: left;
  padding: 0.8rem 0px 0px 0.8rem;
  font-size: 0.8rem;
  background-color: #ffffff;
}

.dropdownContent {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  z-index: 1;
  bottom: 30px;
  right: 0rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.dropdownContent p {
  cursor: pointer;
  font-weight: bold;
  margin: 0rem;
  padding: 0.5rem;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .main {
    margin: 1rem 3rem 1rem 5rem;
  }

  .rightBorder {
    border-right: 1px #eeeeee solid;
  }

  .inputBox {
    height: 12rem;
  }

  .indicatordownMessage {
    bottom: 3px;
    right: 5px;
  }

  .suggestions {
    width: 15rem;
    height: 8rem;
    bottom: -13rem;
    left: 29rem;
  }
}
