.sidebar {
  background-color: #0d146e;
  height: 53rem;
  width: 3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  color: #f0f8ff;
}

.topSidebar {
  background-color: #1621bb;
  padding: 1rem;
}

.sidebarIcons {
  margin-top: 2rem;
  cursor: pointer;
}

.sidebarIcons:hover {
  background-color: #cecdcd67;
  width: 70%;
  border-radius: 2px;
  margin-right: auto;
  margin-left: auto;
}

.downPhone {
  margin-top: 20rem;
  cursor: pointer;
}

.downPhone:hover {
  background-color: #cecdcd67;
  width: 70%;
  border-radius: 2px;
  margin-right: auto;
  margin-left: auto;
}
