.sidebar {
  background-color: #0d146e;
  height: 100%;
  width: 3rem;
  position: absolute;
  top: 0;
  overflow: auto;
  text-align: center;
  color: #f0f8ff;
}

.topSidebar {
  background-color: #1621bb;
  padding: 1rem;
}

.sidebarIcons {
  margin-top: 1rem;
  cursor: pointer;
}
